body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
}
.container{
    width: 300px;
    font-size: 15px;
    background-color: #015b70;
    color: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: #000;
    -webkit-border-radius:    ;
    -moz-border-radius:    ;
    -ms-border-radius:    ;
    -o-border-radius:    ;
}
.button-details{
    width: 50px;
    height: 30px;
    padding: 3px;
    position: relative;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}